<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agboola.temi.cekeypointskits" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseList"
            android:label="Course"/>
        <activity android:name=".ViewCTE" />
        android:label="CTE"
        <activity android:name=".ViewEec" />
        <activity android:name=".ViewGen" />
        <activity android:name=".viewGNS" />
        <activity android:name=".viewMTS" />
        <activity android:name=".ViewSTA" />
        <activity android:name=".About"
            android:label="About"/>
        <activity android:name=".Feedback"
            android:label="Feedback"/>
    </application>

</manifest>